.cell {
    display: inline-block;
    text-align: left;
    font-size: 12px;
    line-height: 38px;
    height: 38px;
    box-sizing: border-box;
    min-width: 10%;
}

.el-input {
    max-width: 10%;
}

.content {
    margin: 10px auto;
    .header {
        background: #eee;
    }
}

.footer {
    text-align: right;
}